<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="mos/manage.aspx" protection="All" timeout="20" path="/" slidingExpiration="true" requireSSL="false"/>
    </authentication>
    <authorization>
      <allow users="*"/>
      <deny users="?"/>
    </authorization>
    <machineKey decryptionKey="AutoGenerate" validation="SHA1"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="20" regenerateExpiredSessionId="false" cookieName="suid"/>
    <httpCookies httpOnlyCookies="true" lockItem="true"/>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <identity impersonate="true"/>
  </system.web>
  <location path="mos">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="anonsmtp-eu.shell.com" port="25"/>
      </smtp>
    </mailSettings>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" proxyaddress="http://proxy-ap.shell.com:8080"/>
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="PIServer" value="lut-s-6056"/>
    <add key="adminName" value="e-SSIC SMEP Business System Support"/>
    <add key="adminEmail" value="SARAWAK-SMEP-Business-System-Support@shell.com"/>
    <add key="adminGroup" value="ASIA-PAC\FGR-SARAWAK-LUT-ZZ-PI-ADMIN-GS"/>
    <add key="approverGroup" value="1"/>
    <add key="userGroup" value="2"/>
    <add key="guestGroup" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="dataWriteStr" connectionString="Data Source=LUT-L-69674\SQLEXPRESS;Initial Catalog=eSsicData;User ID=prontoAdmin;Password=pf@dM!N;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
    <add name="dataReadStr" connectionString="Data Source=LUT-L-69674\SQLEXPRESS;Initial Catalog=eSsicData;User ID=prontoRead;Password=!q2w3e4r;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>   
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>