<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>    
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="mos/manage.aspx" protection="All" timeout="20" path="/" slidingExpiration="true" requireSSL="false" />
    </authentication>
    <machineKey decryptionKey="AutoGenerate" validation="SHA1" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="20" regenerateExpiredSessionId="false" cookieName="suid" />
    <httpCookies httpOnlyCookies="true" lockItem="true"/>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <identity impersonate="false" />
  </system.web>  
  <location path="mos">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="anonsmtp-eu.shell.com" port="25" />
      </smtp>
    </mailSettings>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" proxyaddress="http://proxy-ap.shell.com:8080" />
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="PIServer" value="lut-s-6056"/>
    <add key="adminName" value="e-SSIC SMEP Business System Support" />
    <add key="adminEmail" value="SARAWAK-SMEP-Business-System-Support@shell.com" />
    <add key="adminGroup" value="ASIA-PAC\FGR-SARAWAK-LUT-ZZ-PI-ADMIN-GS" />
    <add key="approverGroup" value="" />
    <add key="userGroup" value="" />
    <add key="guestGroup" value="" />
  </appSettings>
  <configProtectedData>
    <providers>
      <add name="eSsicProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a,processorArchitecture=MSIL" keyContainerName="eSsicKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="eSsicProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>FUOYKfhxifNHuJZd5jnp0qYNc+cHXIsF06ZuWlCXYBHxHUDmZnwrH/oYsV54RD9dHCoXeiAHBf5MKLN85JifyBuYG5B6GqaXW/LJ6E81TfSTVp7gEG7+xaH+E1JUmdm6lSqCTpJavBO8S/0ptj9oCEFTNEESYGTa2LxeDm9I6Qg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>d0OGxp+nrWK2N8Taa+5Gq7U2DZJmoMzIECzuHmXv4goVCb0dvlODswNQM7VNK0AQLhcsKWKYqAoaUfX9sXL1m3mVSz99TnDY4NipK3aDnSAwZ2VmrKq8sM0EhRzQVo+6T/bm71sWbIZNphkYbYtiEABEZVvCNe98lbFt0LYHT7BPTEw8yjftCb0boKeP1qaIAwFx1SmpPsr56+bqa4B/doE/Fwxi4O+IdT4fm8/zGpyjLvn8GilE5suHBZOdi8ifN8N4QhlkiII3NzgLgmTOGy2JJwsVMmYQEeVmvHeU/Eo6+tqUpIz2juRaW2KCyWrkdCOIqf6oM16Iq/iUZ/haeS9QQ+nvewZZb07jQspq7PiXO8AUh8lpKcZH31JHW3MTKkuw0I8HN8jYmYpg6wQwdIO0L+LnI20cHWms09rzIfcgSGBDZbaEi8MOG3fP6ApB1lpYrcQaAaezzJvqOYfqgrWZrCR3Z4SyKQ370IoRTW5lZBGO5wBEOXf2yeQSdqPXoWgevXg8fPEib+2jFnqm5P9uKavVNcc/olwNA6GvAYPIkt+GE1p2dfB+wtcjQ2dZIpdb7Qc2p7bwYUTa9oTtt1SDjGBIwDGwzqCMyMaiv+6jZFZkJWL40Q==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
   
</configuration>
